doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Users List
    link(rel="stylesheet", href="./style.css")
  body
    h1 Users Form
    form(method="POST" action="/add" class="add")
      label(for="name") Name
      input(name="name" id="name" placeholder="Enter name")
    
      label(for="age") Age
      input(type="string" name="age" id="age" placeholder="Enter your age")
    
      label(for="status") Status
      input(name="status" id="status" placeholder="Enter your status")
    
      label(for="img") Link for image 
      input(name="img" id="link" placeholder="Enter image link")
    
      button(type="submit") Edit users
    #users
      if users.length
        each user in users
          .user
            .img
              img(src=`${user.link}`, alt="")
            .name #{user.name}
            .age #{user.age}
            .status #{user.status}
            .user-btn
              a(href=`/edit/${user._id}`)
                button Edit
              button(type="button" onclick=`removeUsers('${user._id}')`) Delete
      else
        h3 Empty
    script.
      function removeUsers(userId) {
        fetch(`/remove/${userId}`, { method: 'DELETE' })
          .then(response => {
            if (response.ok) {
              window.location.reload();
            } else {
              throw new Error('Network response was not ok');
            }
          }).catch(error => {
            console.error('There was an error!', error);
          });
      }




  